fastapi
uvicorn[standard]
python-jose[cryptography]
passlib[bcrypt]
bcrypt<4.1
SQLAlchemy
psycopg2-binary
alembic
pydantic
pydantic-settings
loguru
python-dotenv
httpx
python-multipart
requests
qdrant-client
sentence-transformers
numpy
openai
rank_bm25
pypdf
python-docx
